<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>zkts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C8B5742B1BD09B79000DF256</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8B5743F1BD09B79000DF256</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8B5744A1BD09B79000DF256</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
